<div>
    <h1>Changing author</h1>
    <hr />
    <form action="/action/action.edit-author.php" method="post">
        <div class="form-group">
            <input type="hidden" name="author_id" class="form-control" value="%author_id%"/>
            <input type="text" name="author_name" class="form-control" placeholder="author name" value="%author%"/>
        </div>
        <div class="custom-control custom-radio">
            <input type="radio" id="js-showBook" name="addedBooks" class="custom-control-input" value="new">
            <label class="custom-control-label" for="js-showBook">Create new books</label>
        </div>

        <div class="custom-control custom-radio">
            <input type="radio" id="js-showBooks" name="addedBooks" class="custom-control-input" value="selected" checked>
            <label class="custom-control-label" for="js-showBooks">Show list book</label>
        </div>
        <br>
        <div class="form-group js-newBook">
            <input type="text" name="book" class="form-control" placeholder="book titles (comma separated)" />
        </div>
        <div class="form-group js-newBooks">
            <select class="form-control" name="books[]" multiple>
                <option value="" hidden>Selected books</option>
                %booksOptions%
            </select>
        </div>
        <hr />
        <a href="authors.php">Back</a>
        <button type="submit" name="Submit" class="btn btn-primary ml-4">Change Author</button>
    </form>
</div>