<div class="row">
    <div class="col">
        <h1>Library</h1>
    </div>
    <div class="col">
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/books.php">Book</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/authors.php">Author</a>
            </li>
        </ul>
    </div>
</div>

<div class="card-deck mb-2 text-center pt-5">
    <div class="card mb-6 shadow-sm">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Books</h4>
        </div>
        <div class="card-body">
            <h1 class="card-title pricing-card-title">%books%</h1>
            <a href="/books.php"  class="btn btn-lg btn-outline-primary">See</a>
        </div>
    </div>
    <div class="card mb-6 shadow-sm">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Authors</h4>
        </div>
        <div class="card-body">
            <h1 class="card-title pricing-card-title">%authors%</h1>
            <a href="/authors.php" class="btn btn-lg  btn-outline-primary">See</a>
        </div>
    </div>
</div>